/* Umumiy matn stili */
.reader-content {
  white-space: pre-wrap;        /* PDF/EPUB formatni saqlaydi */
  line-height: 1.6;
  word-spacing: normal;
  letter-spacing: 0.01em;

  /* Asosiy qahramonlar: */
  hyphens: auto;
  -webkit-hyphens: auto;
  overflow-wrap: anywhere;      /* juda uzun so'zlarni ham sindiradi */
  word-break: normal;

  text-align: justify;          /* default: justify */
  text-justify: inter-word;     /* so'zlar oralig'ini aqlli cho'zish */
}

/* Center va Left rejimlari */
.reader-content.align-center {
  text-align: center;
  text-justify: auto;
}


.reader-content.align-left {
  text-align: left;
  text-justify: auto;
}

/* Brauzer text-wrap: pretty ni bilsa, yanada chiroyli */
@supports (text-wrap: pretty) {
  .reader-content { text-wrap: pretty; }
}
/* reader.css */
.ic-justify {
  text-justify: inter-character;  /* so'zlar o'rniga belgilar oralig'ini taqsimlaydi */
}
